* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
}

.container {
    text-align: center;
    position: relative;
}

.left-image, .right-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: auto;
}

.left-image {
    left: -120px; /* Adjust as necessary */
}

.right-image {
    right: -120px; /* Adjust as necessary */
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
}

button#play-button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.video-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

video {
    width: 80%;
    max-width: 600px;
    height: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.close-button::before,
.close-button::after {
    content: 'X';
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    color: white;
}

.close-button::before,
.close-button::after {
    top: 0;
    left: 0;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    .left-image, .right-image {
        position: static; /* Change from absolute to static for images */
        width: 100%;
        height: auto;
        margin: 10px 0;
        transform: none; /* Reset transform */
        left: auto; /* Reset left and right positioning */
        right: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin: 20px 0;
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 0.9em;
    }

    button#play-button {
        display: block; /* Ensure button is displayed */
        margin: 20px 0; /* Adjust margin as needed */
    }
}

