* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('sfondo.jpg'); /* Utilizza sfondo.jpg come sfondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white; /* Imposta il colore del testo a bianco */
}

.container {
    position: relative;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 40px 20px; /* Aumenta il padding sopra e sotto per spaziare meglio le astronavi */
}

.top-image, .bottom-image {
    position: absolute;
    width: 100px;
    height: auto;
}

.top-image {
    top: -100px; /* Posiziona sopra la sezione .container */
    left: calc(50% - 50px); /* Centro l'immagine rispetto al centro del contenitore */
}

.bottom-image {
    bottom: -150px; /* Posiziona sotto la sezione .container in modo che sia leggermente più distante */
    left: calc(50% - 50px); /* Centro l'immagine rispetto al centro del contenitore */
}

.content {
    margin-top: 60px; /* Spazio tra le immagini e il contenuto */
    position: relative; /* Aggiunto per gestire lo z-index */
    z-index: 2; /* Assicura che il contenuto sia davanti alle immagini delle astronavi */
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.video-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

video {
    width: 80%;
    max-width: 600px;
    height: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.close-button::before,
.close-button::after {
    content: 'X';
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px; /* Dimensione della X */
    text-align: center;
    line-height: 40px; /* Centra verticalmente la X */
    color: white; /* Colore bianco per la X */
}

.close-button::before,
.close-button::after {
    top: 0;
    left: 0;
}
